@page "{id:int?}"

@using FoodAndStyleOrderPlanning.Core
@model FoodAndStyleOrderPlanning.Pages.Orders.EditModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<form method="post">

    <div class="card">
        <div class="card-body">
            @*<h5 class="card-title">Στοιχεία Συνταγής</h5>*@
            <div class="row">
                <div class="col-sm-8">
                    <input type="hidden" asp-for="@Model.Order.Id" />
                    <input type="hidden" asp-for="@Model.Order.CreatedOn" />
                    <div class="form-group">
                        <label asp-for="@Model.Order.Name">Ονομασία</label>
                        <input asp-for="@Model.Order.Name" class="form-control w-100 font-weight-bold" />
                        <span class="text-danger" asp-validation-for="@Model.Order.Name"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Αποθήκευση</button>
                    </div>
                </div>
                <div class="col-sm-4">
                    <br />
                    <div class="card" style="width: 18rem;">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Δημιουργία: @Model.Order.CreatedOn.ToString(Helpers.DateTimeFormater)</li>
                            <li class="list-group-item">Τροποποίηση:</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <table class="table table-sm table-striped">
        <tr>
            <th></th>
            <th>Συνταγη</th>
            <th>Ποσότητα (Γραμ.)</th>
            <th>Παραγγελίες</th>
        </tr>

        @for (int i = 0; i < Model.RecipeChoices.Choices.Count; i++)
        {
            <tr>
                <td>
                    <input type="hidden" asp-for="@Model.RecipeChoices.Choices[i].Id" />
                    <input type="hidden" asp-for="@Model.RecipeChoices.Choices[i].RecipeId" />
                    <input type="hidden" asp-for="@Model.RecipeChoices.Choices[i].Name" />
                    <input type="hidden" asp-for="@Model.RecipeChoices.Choices[i].RecipeQuantity" />
                </td>
                <td>@Model.RecipeChoices.Choices[i].Name</td>
                <td>@Model.RecipeChoices.Choices[i].RecipeQuantity</td>
                <td>
                    <input asp-for="@Model.RecipeChoices.Choices[i].Quantity" min="0" class="form-control w-25 font-weight-bold" />
                    <span class="text-danger" asp-validation-for="@Model.RecipeChoices.Choices[i].Quantity"></span>
                </td>
            </tr>
        }
    </table>

</form>


<hr />
<div class="text-lg-center font-weight-bold bg-light">
    Δελτίο Παραγγελίας
</div>
<hr />

<table class="table table-sm table-striped">
    <tr>
        <th>Τύπος</th>
        <th>Προϊόν</th>
        <th>Ποσότητα</th>
        <th>Κόστος</th>
        <th>Προμηθευτής</th>
    </tr>
    @foreach (var o in Model.OrderProductItems)
    {
<tr>
    <td>@LanguageResources.GetProductTypeTranslation(@o.Product.ProductType)</td>
    <td>@o.Product.Name</td>
    <td><b>@String.Format("{0:n0}", o.Quantity)</b>&nbsp;@LanguageResources.GetMeasuringUnitTranslation(o.Product.MeasuringUnit)</td>
    <td>@String.Format("{0:n}€", (o.Product.Price * o.Quantity) / 100)</td>
    <td>@o.Product.Supplier.Name</td>
</tr>
    }
</table>