@page
@using FoodAndStyleOrderPlanning.Core
@model FoodAndStyleOrderPlanning.Pages.Orders.ListModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

    <div class="d-flex justify-content-between mt-3 mb-3">
        <div class="pull-left w-50" >
            <select class="custom-select font-weight-bold" id="orderGridFilter" onchange="orderGridFilterChanged(this.value);">
                <option value="0">Μόνο ενεργές</option>
                <option value="1">Όλες</option>
            </select>
        </div>
        <div class="pull-right">
            <a asp-page="./Edit" class="btn btn-primary">Δημιουργία Νέας Παραγγελίας</a>
        </div>
    </div>

<table id="orderGridTable" class="table table-sm table-striped table-hover">
    <tr>
        <th>Όνομα</th>
        <th>Δημιουργία</th>
        <th>Δημ. Από</th>
        <th>Τροποποίηση</th>
        <th>Τροπ. Από</th>
        <th>Ενέργειες</th>
    </tr>
    @foreach (var i in Model.Orders)
    {
        <tr class='@(!i.IsActive ? "inActive" : "")'>
            <td>@i.Name</td>
            <td>@i.CreatedOn.ToString(Helpers.DateTimeFormater)</td>
            <td>@i.CreatedBy</td>
            <td>@i.UpdatedOn.ToString(Helpers.DateTimeFormater)</td>
            <td>@i.UpdatedBy</td>
            <td>
                <a class="btn btn-lg" asp-page="./Edit" asp-route-id="@i.Id">
                    <i class="fa fa-edit"></i>
                </a>
                <a title='@(i.IsActive ? "Απενεργοποίηση" : "Ένεργοποιηση")' class="btn btn-lg" asp-page="./ToggleActive" asp-route-id="@i.Id">
                    <i class='@(i.IsActive ? "fa fa-toggle-off" : "fa fa-toggle-on")'></i>
                </a>
            </td>
        </tr>
    }
</table>

<script type="text/javascript">
  
    function orderGridFilterChanged(value) {

        if (value == '1') {
            $('#orderGridTable tr').each(function () {
                $(this).show();
            });
        }
        else {
            $('#orderGridTable tr.inActive').each(function () {
                $(this).hide();
            });
        }
    }

    $(function () {
        orderGridFilterChanged('0');
    });


</script>
