@page "{id:int?}"

@model FoodAndStyleOrderPlanning.Pages.Recipes.EditModel
@{
}

<form method="post">

    <input type="hidden" asp-for="@Model.RecipeId" />
    <div class="form-inline">
        <label asp-for="@Model.RecipeName">Ονομασία:&nbsp;</label>
        <input asp-for="@Model.RecipeName" class="form-control w-50 font-weight-bold" />
        <span class="text-danger" asp-validation-for="@Model.RecipeName"></span>
        &nbsp;
        <label asp-for="@Model.RecipeQuantity">Ποσότητα (σε Kg):&nbsp;</label>
        <input asp-for="@Model.RecipeQuantity" class="form-control font-weight-bold" />
        <span class="text-danger" asp-validation-for="@Model.RecipeQuantity"></span>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
    @*@foreach (var i in Model.IngredientChoicesQuantities)
        {
            <div class="input-group">
                <label asp-for="@Model.IngredientChoices">Υλικό:</label>
                <select class="form-control" asp-items="@Model.IngredientChoices"></select>

                <label asp-for="@i">Ποσότητα:</label>
                <input asp-for="@i" class="form-control" />
                <span class="text-danger" asp-validation-for="@i"></span>
            </div>
        }*@
</form>
<hr />

<table class="table table-sm table-striped">
    @foreach (var i in Model.RecipeIngredients)
    {
    <tr>
        <td>@i.ProductName</td>
        <td>@i.Quantity</td>
        <td>@i.MeasuringUnit</td>
        <td>
            <a class="btn btn-lg" asp-page="/Ingredients/Delete" asp-route-recipeId="@Model.RecipeId" asp-route-ingredientId="@i.IngredientId">
                <i class="fa fa-trash"></i>
            </a>
        </td>
    </tr>
    }
</table>


<a asp-page="/Ingredients/Edit" asp-route-recipeId="@Model.RecipeId" class="btn btn-primary">Προσθήκη Υλικού</a>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
