@page
@using FoodAndStyleOrderPlanning.Core
@model FoodAndStyleOrderPlanning.Pages.Recipes.ListModel
@{
    ViewData["Title"] = "Συνταγές";
}

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input class="form-control" type="search" asp-for="SearchTerm">
            <span class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>
<br />

<table class="table table-sm table-striped table-hover">
    <tr>
        <th>Id</th>
        <th>'Ονομα</th>
        <th>Ποσότητα (Γραμ.)</th>
        <th>Υλικά</th>
        <th>Δημιουργία</th>
        <th>Τροποποίηση</th>
        <th>Ενέργειες</th>
    </tr>
    @foreach (var r in Model.Recipes)
    {
<tr class='@(r.IsActive ? "" : "text-secondary")'>
    <td>@r.Id</td>
    <td>
        @if (r.IsActive)
            {@r.Name}
        else
            {<del>@r.Name</del>}
    </td>
    <td>@String.Format("{0:n0}", r.ResultingQuantityInGrams)</td>
    <td>@r.Ingredients.Count</td>
    <td>@r.CreatedOn.ToString(Helpers.DateTimeFormater)</td>
    <td>@r.UpdatedOn.ToString(Helpers.DateTimeFormater)</td>
    <td>
        <a title="Επεξεργασία" class="btn btn-lg" asp-page="./Edit" asp-route-id="@r.Id">
            <i class="fa fa-edit"></i>
        </a>
        <a title="Αντιγραφή" class="btn btn-lg" asp-page="./Copy" asp-route-id="@r.Id">
            <i class="fa fa-copy"></i>
        </a>
        <a title="Διαγραφή" class="btn btn-lg" asp-page="./Delete" asp-route-id="@r.Id">
            <i class="fa fa-trash"></i>
        </a>

        <a title='@(r.IsActive ? "Απενεργοποίηση" : "Ένεργοποιηση")' class="btn btn-lg" asp-page="./ToggleActive" asp-route-id="@r.Id">
            <i class='@(r.IsActive ? "fa fa-toggle-off" : "fa fa-toggle-on")'></i>
            
        </a>

    </td>
</tr>
    }
</table>

<hr />
<a asp-page="./Edit" class="btn btn-primary">Προσθήκη νέας</a>


