@page "{id:int?}"
@using FoodAndStyleOrderPlanning.Core
@model FoodAndStyleOrderPlanning.Pages.Products.EditModel
@{
    ViewData["Title"] = "Προϊόν";
}
<form method="post">

    <input type="hidden" asp-for="ProductViewModel.Id" />
    <div class="form-group">
        <label asp-for="ProductViewModel.Name">'Ονομα</label>
        <input asp-for="ProductViewModel.Name" class="form-control" />
        <span class="text-danger" asp-validation-for="ProductViewModel.Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="ProductViewModel.Quality">Ποιότητα</label>
        <input asp-for="ProductViewModel.Quality" class="form-control" />
        <span class="text-danger" asp-validation-for="ProductViewModel.Quality"></span>
    </div>

    <div class="form-group">
        <label asp-for="ProductViewModel.MeasuringUnit">Μονάδα Μέτρησης</label>
        <select class="form-control" onchange="removeChoiceOption(this);" asp-for="ProductViewModel.MeasuringUnit" asp-items="Model.MeasuringUnit">
            <option disabled value="-1">--- Επιλογή ---</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="ProductViewModel.ProductType">Τύπος</label>
        <select class="form-control" onchange="removeChoiceOption(this);" asp-for="ProductViewModel.ProductType" asp-items="Model.ProductType">
            <option disabled value="-1">--- Επιλογή ---</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="ProductViewModel.SupplierId">Προμηθευτής</label>
        <span class="text-danger">@Model.SupplierNotActiveMessage</span>
        <select class="form-control" onchange="removeChoiceOption(this);" asp-for="ProductViewModel.SupplierId" asp-items="Model.Suppliers">
            <option disabled value="-1">--- Επιλογή ---</option>
        </select>
    </div>

    <table class="w-100">
        <tr class="w-100" style="vertical-align:text-top">
            <td class="w-50">
                <div class="text-info">Τιμή ανα κιλό, λίτρο ή τεμάχιο:</div>
                <div class="form-inline">
                    <label asp-for="ProductViewModel.PriceEuroPart">Eυρώ&nbsp;&nbsp;</label>
                    <input asp-for="ProductViewModel.PriceEuroPart" class="form-control" />
                    <span class="text-danger" asp-validation-for="ProductViewModel.PriceEuroPart"></span>
                </div>
                <div class="form-inline mt-1">
                    <label asp-for="ProductViewModel.PriceCentsPart">Λεπτά&nbsp;</label>
                    <input asp-for="ProductViewModel.PriceCentsPart" class="form-control" />
                    <span class="text-danger" asp-validation-for="ProductViewModel.PriceCentsPart"></span>
                </div>
                <div class="text-info">Γραμμάρια (gr) ή Χιλιοστόλιστρα (ml) ανά τεμάχιο:</div>
                <div class="form-inline mt-1">
                    <input asp-for="ProductViewModel.QuantityToPiece" class="form-control" />
                    <span class="text-danger" asp-validation-for="ProductViewModel.QuantityToPiece"></span>
                    <i class="fa fa-info-circle ml-1" style="color:orange" data-toggle="tooltip" title="Εάν η ποσότητα είναι μεγαλύτερη του 0, η παραγγελία θα μετατραπεί σε τεμάχια."></i>
                </div>
                <button type="submit" onclick="setStorage();" class="btn btn-primary mt-5">Save</button>
            </td>
            <td class="w-50">
                <div class="text-info">Ημέρες Παράδοσης:</div>
                <div class="custom-control custom-checkbox">
                    <input asp-for="ProductViewModel.DeliveryOnMonday" class="form-control custom-control-input" />
                    <label class="custom-control-label w-25 text-lg-left" asp-for="ProductViewModel.DeliveryOnMonday">Δευτέρα</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input asp-for="ProductViewModel.DeliveryOnTuesday" class="form-control custom-control-input" />
                    <label class="custom-control-label w-25 text-lg-left" asp-for="ProductViewModel.DeliveryOnTuesday">Τρίτη</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input asp-for="ProductViewModel.DeliveryOnWednesday" class="form-control custom-control-input" />
                    <label class="custom-control-label w-25 text-lg-left" asp-for="ProductViewModel.DeliveryOnWednesday">Τετάρτη</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input asp-for="ProductViewModel.DeliveryOnThursday" class="form-control custom-control-input" />
                    <label class="custom-control-label w-25 text-lg-left" asp-for="ProductViewModel.DeliveryOnThursday">Πέμπτη</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input asp-for="ProductViewModel.DeliveryOnFriday" class="form-control custom-control-input" />
                    <label class="custom-control-label w-25 text-lg-left" asp-for="ProductViewModel.DeliveryOnFriday">
                        Παρασκευή
                        <i class="fa fa-info-circle ml-1" style="color:orange" data-toggle="tooltip" title="Εάν δεν έχει οριστεί καμία μέρα παράδοσης το σύστημα αυτόματα θα θεωρίσει την Παρασκευή σαν την μοναδική μέρα παράδοσης."></i>
                    </label>
                    </div>
                <div class="custom-control custom-checkbox">
                    <input asp-for="ProductViewModel.DeliveryOnSaturday" class="form-control custom-control-input" />
                    <label class="custom-control-label w-25 text-lg-left" asp-for="ProductViewModel.DeliveryOnSaturday">Σάββατο</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input asp-for="ProductViewModel.DeliveryOnSunday" class="form-control custom-control-input" />
                    <label class="custom-control-label w-25 text-lg-left" asp-for="ProductViewModel.DeliveryOnSunday">Κυριακή</label>
                </div>
            </td>
        </tr>
    </table>

    <br />
    @*<div class="form-group">
            <label asp-for="ProductViewModel.ProductFreshness">Παραγγελία Πριν</label>
            <select class="form-control" onchange="removeChoiceOption(this);" asp-for="ProductViewModel.ProductFreshness" asp-items="Model.ProductFreshness">
                <option disabled value="-1">--- Επιλογή ---</option>
            </select>
            <span class="text-danger" asp-validation-for="ProductViewModel.ProductFreshness"></span>
        </div>*@

</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}




<script type="text/javascript">

    $(function () {

        localStorage.removeItem('modifiedProductId');

        var measuringUnitId = '#'.concat('@Html.IdFor(o => o.ProductViewModel.MeasuringUnit)');
        var productTypeId = '#'.concat('@Html.IdFor(o => o.ProductViewModel.ProductType)');
        var supplierId = '#'.concat('@Html.IdFor(o => o.ProductViewModel.SupplierId)');
        var productFreshnessId = '#'.concat('@Html.IdFor(o => o.ProductViewModel.ProductFreshness)');

        var hiddernInputId = '#'.concat('@Html.IdFor(o => o.ProductViewModel.Id)');
        var productId = $(hiddernInputId).val();
        if (productId > 0) {
            $(measuringUnitId.concat(" option[value='-1']")).remove();
            $(productTypeId.concat(" option[value='-1']")).remove();
            $(supplierId.concat(" option[value='-1']")).remove();
            $(productFreshnessId.concat(" option[value='-1']")).remove();
            return;
        }

        $(measuringUnitId).val('-1');
        $(productTypeId).val('-1');
        $(supplierId).val('-1');
        $(productFreshnessId).val('-1');
    });

    function removeChoiceOption(selectObj) {
        $('#'.concat(selectObj.id.concat(" option[value='-1']"))).remove();
    }

    function setStorage() {
        var hiddernInputId = '#'.concat('@Html.IdFor(o => o.ProductViewModel.Id)');
        var productId = $(hiddernInputId).val();
        if (productId < 1)
            productId = 0;

        localStorage.setItem('modifiedProductId', productId);
    }

</script>