@page "{orderBy?}"

@using FoodAndStyleOrderPlanning.Core
@using System.Linq
@model FoodAndStyleOrderPlanning.Pages.Products.ListModel
@{
    ViewData["Title"] = "Προϊόντα";
}
<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input class="form-control" type="search" asp-for="SearchTerm">
            <span class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>
<br />

<table class="table table-sm table-striped">
    <tr>
        <th>Id</th>
        <th><a asp-page="./List" asp-route-orderBy="">'Ονομα</a></th>
        <th>Ποιότητα</th>
        <th>Μ.Μ.</th>
        <th><a asp-page="./List" asp-route-orderBy="type">Τύπος</a></th>
        <th><a asp-page="./List" asp-route-orderBy="supplier">Προμηθευτής</a></th>
        <th>Επεξεργασία</th>
    </tr>
    @foreach (var r in Model.Products)
    {
    <tr>
        <td>@r.Id</td>
        <td>@r.Name</td>
        <td>@r.Quality</td>
        <td>@LanguageResources.MeasuringUnitTranslations.First(p => p.Key == ((int)r.MeasuringUnit).ToString()).Value</td>
        <td>@LanguageResources.ProductTypeTranslations.First(p => p.Key == ((int)r.ProductType).ToString()).Value</td>

        @if (@r.Supplier.IsActive)
        {
            <td>@r.Supplier.Name</td>
        }
        else
        {
            <td class="alert-danger" data-toggle="tooltip" data-placement="top" title="Ο προμηθευτής δεν ειναι ενεργός">@r.Supplier.Name</td>
        }

        <td>
            <a class="btn btn-lg" asp-page="./Edit" asp-route-id="@r.Id">
                <i class="fa fa-edit"></i>
            </a>
        </td>
    </tr>
    }
</table>

<hr />
<a asp-page="./Edit" class="btn btn-primary">Προσθήκη νέου</a>


