@page "{orderBy?}"

@using FoodAndStyleOrderPlanning.Core
@model FoodAndStyleOrderPlanning.Pages.Products.ListModel
@{
    ViewData["Title"] = "Προϊόντα";
}
<form method="get">
    <div class="form-group mt-1">
        <div class="input-group">
            <input class="form-control" type="search" asp-for="SearchTerm">
            <span class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>

<a asp-page="./Edit" class="btn btn-primary mb-2">Προσθήκη</a>

<table class="table table-sm table-striped table-hover">
    <tr>
        <th class="d-none">Id</th>
        <th class="w-25"><a asp-page="./List" asp-route-orderBy="name" asp-route-orderDir="@Model.SortOrderDirection">'Ονομα</a></th>
        <th>Ποιότητα</th>
        <th>Μ.Μ.</th>
        <th><a asp-page="./List" asp-route-orderBy="type" asp-route-orderDir="@Model.SortOrderDirection">Τύπος</a></th>
        <th><a asp-page="./List" asp-route-orderBy="supplier" asp-route-orderDir="@Model.SortOrderDirection">Προμηθευτής</a></th>
        <th>Τιμή</th>
        <th>Δ</th>
            <th>Τ</th>
            <th>Τ</th>
            <th>Π</th>
            <th>Π</th>
            <th>Σ</th>
            <th>Κ</th>
        @*<th>Παράδοση</th>*@
        <th class="w-25">Ενέργειες</th>
    </tr>
    @foreach (var r in Model.Products)
    {
        <tr>
            <td class="d-none">@r.Id</td>
            <td>@r.Name</td>
            <td>@r.Quality</td>
            <td>@LanguageResources.GetMeasuringUnitTranslation(r.MeasuringUnit)</td>
            <td>@LanguageResources.GetProductTypeTranslation(r.ProductType)</td>

            @if (@r.Supplier.IsActive)
            {
                <td>@r.Supplier.Name</td>
            }
            else
            {
                <td><i class="fa fa-warning" style="color:orange" data-toggle="tooltip" data-placement="top" title="Ο προμηθευτής δεν ειναι ενεργός!"></i> @r.Supplier.Name</td>
            }

            <td>@r.Price¢</td>

            @*<td>
                    @if (@r.DeliveryOnMonday)
                    {<i title="Δευτέρα" style="color:green" class="fa fa-check"></i>}
                </td>
                <td>
                    @if (@r.DeliveryOnTuesday)
                    {<i title="Τρίτη" style="color:green" class="fa fa-check"></i>}
                </td>
                <td>
                    @if (@r.DeliveryOnWednesday)
                    {<i title="Τετάρτη" style="color:green" class="fa fa-check"></i>}
                </td>
                <td>
                    @if (@r.DeliveryOnThursday)
                    {<i title="Πέμπτη"  style="color:green" class="fa fa-check"></i>}
                </td>
                <td>
                    @if (@r.DeliveryOnFriday)
                    {<i title="Παρασκευή" style="color:green" class="fa fa-check"></i>}
                </td>
                <td>
                    @if (@r.DeliveryOnSaturday)
                    {<i title="Σάββατο" style="color:green" class="fa fa-check"></i>}
                </td>
                <td>
                    @if (@r.DeliveryOnSunday)
                    {<i title="Κυριακή" style="color:green" class="fa fa-check"></i>}
                </td>*@

            <td>
                @if (@r.DeliveryOnMonday)
                {<span>Δευ.</span>}
            </td>
            <td>
                @if (@r.DeliveryOnTuesday)
                {<span>Τρι.</span>}
            </td>
            <td>
                @if (@r.DeliveryOnWednesday)
                {<span>Τετ.</span>}
            </td>
            <td>
                @if (@r.DeliveryOnThursday)
                {<span>Πεμ.</span>}
            </td>
            <td>
                @if (@r.DeliveryOnFriday)
                {<span>Παρ.</span>}
            </td>
            <td>
                @if (@r.DeliveryOnSaturday)
                {<span>Σαβ.</span>}
            </td>
            <td>
                @if (@r.DeliveryOnSunday)
                {<span>Κυρ.</span>}
            </td>

            <td>
                <a title="Επεξεργασία" class="btn btn-lg" asp-page="./Edit" asp-route-id="@r.Id">
                    <i class="fa fa-edit"></i>
                </a>
                @if (Model.ProductIdContainedInAtLeastOneRecipe[r.Id])
                {
                    <a title="Διαγραφή δεν επιτρέπεται. Μετάβαση στις συνταγές που εμπεριέχουν το προϊόν." class="btn btn-lg" asp-page="/Recipes/List" asp-route-productId="@r.Id">
                        <i class="fa fa-apple"></i>
                    </a>
                }
                else
                {
                    <a title="Διαγραφή" style="color:red" class="btn btn-lg" asp-page="./Delete" asp-route-id="@r.Id">
                        <i class="fa fa-trash"></i>
                    </a>
                }
            </td>
        </tr>
    }
</table>

<a asp-page="./Edit" class="btn btn-primary">Προσθήκη νέου</a>


<script type="text/javascript">

     $.urlParam = function (name) {
        var results = new RegExp('[\?&]' + name + '=([^&#]*)')
                          .exec(window.location.search);

        return (results !== null) ? results[1] || 0 : false;
    }

    $(function () {

        var searchTermInputId = '#'.concat('@Html.IdFor(o => o.SearchTerm)');
        $(searchTermInputId).focus();

        var searchTerm = $.urlParam('SearchTerm');
        if (searchTerm != null && searchTerm.length > 0) {
            var searchTermInputId = '#'.concat('@Html.IdFor(o => o.SearchTerm)');
            $(searchTermInputId).val('').val(decodeURIComponent(searchTerm));
            return;
        }

        var modifiedProductId = localStorage.getItem('modifiedProductId');
        var maxProductId = @Model.Products?.Select(p=>p.Id).DefaultIfEmpty(0).Max();

        if (modifiedProductId == null)
            return;

        if (modifiedProductId == 0)
            modifiedProductId = maxProductId;

        var blinkRow = $("td").filter(function() {
            return $(this).text() == modifiedProductId;
        }).closest("tr");

        $('html, body').animate({
            scrollTop: blinkRow.offset().top - 100
        }, 500);

        blinkRow.addClass('updateSuccess');

        setTimeout(function(){
            blinkRow.fadeOut('slow',function(){ $(this).removeClass('updateSuccess').show();});
        }, 1000);

        localStorage.removeItem('modifiedProductId');
    });
</script>